EmployeeWCFClient/Connected Services/EmployeeWCFService/EmployeeWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeWCFService_GetEmployeeWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeWCF" />
  </wsdl:message>
  <wsdl:message name="IEmployeeWCFService_GetEmployeeWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeWCFResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeWCFService_SaveEmployeeWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeWCF" />
  </wsdl:message>
  <wsdl:message name="IEmployeeWCFService_SaveEmployeeWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeWCFResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeWCFService">
    <wsdl:operation name="GetEmployeeWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeWCFService/GetEmployeeWCF" message="tns:IEmployeeWCFService_GetEmployeeWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeWCFService/GetEmployeeWCFResponse" message="tns:IEmployeeWCFService_GetEmployeeWCF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployeeWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeWCFService/SaveEmployeeWCF" message="tns:IEmployeeWCFService_SaveEmployeeWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeWCFService/SaveEmployeeWCFResponse" message="tns:IEmployeeWCFService_SaveEmployeeWCF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeWCFService" type="tns:IEmployeeWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeWCF">
      <soap:operation soapAction="http://tempuri.org/IEmployeeWCFService/GetEmployeeWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployeeWCF">
      <soap:operation soapAction="http://tempuri.org/IEmployeeWCFService/SaveEmployeeWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeWCFService">
    <wsdl:port name="BasicHttpBinding_IEmployeeWCFService" binding="tns:BasicHttpBinding_IEmployeeWCFService">
      <soap:address location="http://localhost:8080/EmployeeWCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>