EmployeeWCFClient/Connected Services/EmployeeWCFService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://ugo-omega.com/2020/11/02/Employee" />
  <xs:element name="GetEmployeeWCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ugo-omega.com/2020/11/02/Employee" minOccurs="0" name="GetEmployeeWCFResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeWCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://ugo-omega.com/2020/11/02/Employee" minOccurs="0" name="employee" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeWCFResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>